html {
  box-sizing: border-box;
  margin: auto;

}


.text-shadow {
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
}

.navbar{
  height: 75px;
  transition: all 0.5s;
}

.navbar.scrolled{
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  height: 60px;
  transition: all 0.5s;
}

.navbar .container-fluid{ 
  max-width: 80%;
}

.navbar-brand{
  display: flex;
  align-items: center;
}

.navbar .navbar-brand p{
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif; 
  font-size: 32px;
  font-weight: 600;
  margin: 0px;
  transition: all 0.5s;
}

.navbar.scrolled .navbar-brand p{
  font-size: 24px;
  transition: all 0.5s;
}

.navbar .img-logo{
  max-height: 40px;
  transition: all 0.5s;
}

.navbar.scrolled .img-logo{
  max-height: 30px;
  transition: all 0.5s;
}

#slider .carousel-item img{
  height: 550px; 
  object-fit: cover;
}

#about .container-fluid, 
#rooms .container-fluid,
#gallery .container-fluid,
#contact .container-fluid{
  max-width: 80%;
  margin: auto;
}

.img-about{
  clip-path: inset(100%);
  animation: fadeIn 2s forwards;
}

#gallery img{
}

/* lightbox */
.lightboxOverlay{
  background: rgba(70, 60, 60, 0.79) !important;
}

#about, #contact{
  background: linear-gradient(white, #d1e7dd);
}

#message{
  min-height: 200px;
}


@keyframes fadeIn{
  to{
    clip-path: inset(0%);
  }
}

@media screen and (max-width:768px){
  .navbar .container-fluid{ 
  max-width: 100%;
}

  #slider .carousel-item img{
  height: 350px; 
}
  
  #about .container-fluid, 
  #rooms .container-fluid,
  #gallery .container-fluid,
  #contact .container-fluid{
  max-width: 90%;
  margin: auto;
}
}