html {
  box-sizing: border-box;
  margin: auto;

}

.text-shadow {
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
}

/* .navbar{
  background: #40798C;
} */

.navbar .container-fluid{
  max-width: 80%;
}

.navbar-brand{
  display: flex;
  align-items: center;
}

.navbar-brand p{
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif; 
  font-size: 32px;
  font-weight: 600;
  margin: 0px;
}

.img-logo{
  max-height: 40px;
}

.img-about{
  clip-path: ellipse(0px 0px at 50% 50%);
  animation: fadeIn 2s forwards;
}

@keyframes fadeIn{
  to{
    clip-path: ellipse(100% 100% at 50% 50%);
  }
}